<div>
    <div>
        <!-- List of Candidates -->
        <h3>Manage Candidates</h3>
        <ol ng-repeat="candidate in $ctrl.candidates">
          <button type="button" ng-click="$ctrl.removeCandidate(candidate)">
              <span class="text-info" ng-bind="candidate.name"></span>
          </button>
        </ol>

    </div>
    <div>
        <!-- Candidate Form -->
        <h4>Add Candidate</h4>
        <div ng-form="$ctrl.form">
            <div>
                <input type="text" placeholder="Enter Candidate Name" required ng-model="$ctrl.newCandidate.name"/>
            </div>
            <div>
                <button type="button" ng-disabled="$ctrl.form.$invalid" ng-click= "$ctrl.addNewCandidate()"  > + </button>
				<!--TODO Implement a add candidate function-->
            </div>
        </div>
    </div>
</div>
