<div>
    <div>
        <!-- List of Candidates -->
        <h3>Manage Candidates</h3>
        <div ng-repeat="candidate in $ctrl.candidates">
          <button class= 'btn btn-danger' type="button" ng-click="$ctrl.removeCandidate(candidate)">
              <span ng-bind = "candidate.name"></span><span class= 'glyphicon glyphicon-trash'></span>
          </button>
        </div>

    </div>
    <div>
        <!-- Candidate Form -->
        <h4>Add Candidate</h4>
        <div ng-form="$ctrl.form">
            <div>
                <input type="text" placeholder="Enter Candidate Name" required ng-model="$ctrl.newCandidate.name"/>
                <button type="button" ng-disabled="$ctrl.form.$invalid" ng-click= "$ctrl.addNewCandidate()"> + </button>
            </div>
        </div>
    </div>
</div>
