@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  background-color: #e5e5e5;
  font-family: Merriweather, serif;
}

table {
  border-radius: 5px;
  width: 85%;
  margin: 0px auto;
  float: none;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

.btn {
  width: 150px;
}

.add {
  width: 205px;
}
